body{
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:white;
}

header{
    text-align:center;
    padding:60px;
    background:#1e293b;
}

header h1{
    font-size:50px;
}

section{
    padding:40px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    margin-top:20px;
}